@use 'mixins';

.go_up_button {
    @include mixins.flexAlign(center, center);
    @include mixins.fixPos(99);

    bottom: 2em;
    right: 2em;
    border-radius: 50%;
    background-color: #BDA46D;
    width: 60px;
    height: 60px;
    transition: 0.3s ease;

    &:hover {
        background-color: #222627;
        transition: 0.3s ease;
    }
    
    i {
        color: white;
        border-bottom: none;
    }
}

.welcome_section {
    position: relative;
    width: 100%;
    height: 100vh;

    &::before {
        @include mixins.pattern;
    }

    & > div {
        @include mixins.flexAlign(center, center);

        position: relative;
        gap: 25px;
        width: 75%;
        margin: 0 auto;
        height: 100vh;

        img {
            width: 30%;
            border-radius: 50%;
            box-shadow: 0 10px 10px rgba(189, 164, 109, 0.3);
        }

        .welcome_text {

            .name_title, .job_title {
                font-family: 'DM Serif Display', serif;
            }
            
            .name_title {
                font-size: 80px;
                font-weight: bold;
                color: #BDA46D;
            }
            
            .job_title {
                font-size: 50px;
                color: #222627;
                margin-left: 100px;
            }
        }   
    }
}

.pres_section {
    position: relative;
    @include mixins.sectionWidth;
    
    &::before {
        @include mixins.patternReverse;
    }

    .pres_content {
        @include mixins.sectionTitle;
        
        .pres {
            @include mixins.flexAlign(center, space-between);
            gap: 80px;
            width: 80%;
            margin: 0 auto;
            position: relative;
            z-index: 1;
    
            img {
                width: 300px;
                box-shadow: 0px 10px 20px rgba(134, 134, 134, 0.5);
            }
    
            .text {
                font-family: serif;
                position: relative;
                padding-bottom: 100px;

                h3 {
                    color: #BDA46D;
                    font-size: 40px;
                    margin-bottom: 30px;
                }

                p {
                    font-size: 25px;
                    margin-bottom: 20px;

                    strong {
                        color: #BDA46D;
                    }
                }

                a {
                    background: #BDA46D;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 15px 30px;
                    margin-top: 50px;
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                    transition: 0.3s ease;

                    &:hover {
                        background-color: #222627;
                        transition: 0.3s ease;
                    }

                    strong {
                        font-weight: bold;
                    }

                    i {
                        margin-right: 15px;
                    }
                }
            }
    
        }
    }
    
}