@use 'mixins';

.go_up_button {
    @include mixins.flexAlign(center, center);
    @include mixins.fixPos(99);

    bottom: 2em;
    right: 2em;
    border-radius: 50%;
    background-color: #BDA46D;
    width: 60px;
    height: 60px;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
        background-color: #222627;
        transition: 0.3s ease;
    }
    
    i {
        color: white;
        border-bottom: none;
    }
}

.welcome_section {
    position: relative;
    width: 100%;
    height: 100vh;

    &::before {
        @include mixins.pattern;
    }

    & > div {
        @include mixins.flexAlign(center, center);

        position: relative;
        gap: 25px;
        width: 75%;
        margin: 0 auto;
        height: 100vh;

        img {
            width: 30%;
            border-radius: 50%;
            box-shadow: 0 10px 10px rgba(189, 164, 109, 0.3);
        }

        .welcome_text {

            .name_title, .job_title {
                font-family: 'DM Serif Display', serif;
            }
            
            .name_title {
                font-size: 80px;
                font-weight: bold;
                color: #BDA46D;
            }
            
            .job_title {
                font-size: 50px;
                color: #222627;
                margin-left: 100px;
            }
        }   
    }
}

.pres_section {
    @include mixins.sectionWidth;
    
    &::before {
        @include mixins.patternReverse;
    }

    .pres_content {
        @include mixins.sectionTitle;
        
        .pres {
            @include mixins.flexAlign(center, space-between);
            gap: 80px;
            width: 80%;
            margin: 0 auto;
            position: relative;
            z-index: 1;
    
            img {
                width: 300px;
                border-radius: 5px;
                box-shadow: 0px 10px 20px rgba(134, 134, 134, 0.5);
            }
    
            .text {
                font-family: serif;
                position: relative;
                padding-bottom: 100px;

                h3 {
                    color: #BDA46D;
                    font-size: 40px;
                    margin-bottom: 30px;
                }

                p {
                    font-size: 25px;
                    margin-bottom: 20px;
                    text-align: justify;

                    strong {
                        color: #BDA46D;
                    }
                }

                a {
                    border-radius: 5px;
                    background: #BDA46D;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 15px 30px;
                    margin-top: 50px;
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                    box-shadow: 0px 10px 20px rgba(134, 134, 134, 0.5);
                    transition: 0.3s ease;

                    &:hover {
                        background-color: #222627;
                        transition: 0.3s ease;
                    }

                    strong {
                        font-weight: bold;
                    }

                    i {
                        margin-right: 15px;
                    }
                }
            }
    
        }
    }
}

.skills_section {
    @include mixins.sectionWidth;

    &::before {
        @include mixins.pattern;
    }

    .skills_content {
        @include mixins.sectionTitle;

        .skill {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid red;

            .category {
                position: relative;
                display: grid;
                justify-content: center;
                align-items: center;
                gap: 30px;
                border: 2px solid yellow;
                width: 30%;

                h3 {
                    position: absolute;
                    top: 50%;
                    left: 25%;
                    font-family: 'DM Serif Display', serif;
                    color: #BDA46D;
                    font-size: 50px;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    grid-area: "title";
                }
            }

            .front {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas: "title icon1"
                                    "title icon2"
                                    "title icon3";
                gap: 25px;

                @for $front from 1 to 4 {
                    .icon-grid1-#{$front} {
                        grid-area: icon#{$front};
                    }
                }

                .icon-grid1-1 {
                    width: 60%;
                }

                .icon-grid1-2 {
                    width: 43%;
                }

                .icon-grid1-3 {
                    width: 110%;
                }
            }

            .back {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr ;
                grid-template-areas: "title icon1"
                                    "title icon2";
                gap: 25px;

                @for $back from 1 to 3 {
                    .icon-grid2-#{$back} {
                        grid-area: icon#{$back};
                    }
                }

                .icon-grid2-1 {
                    width: 80%;
                }

                .icon-grid2-2 {
                    width: 80%;
                }
            }

            .design {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-areas: "title icon1"
                                    "title icon2"
                                    "title icon3"
                                    "title icon4";
                gap: 25px;

                @for $design from 1 to 5 {
                    .icon-grid3-#{$design} {
                        grid-area: icon#{$design};
                    }
                }

                .icon-grid3-1 {
                    width: 50%;
                }

                .icon-grid3-2 {
                    width: 90%;
                }

                .icon-grid3-3 {
                    width: 50%;
                }

                .icon-grid3-4 {
                    width: 60%;
                }
            }
        }
    }
}