html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "DM Serif Display", serif;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background: none;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  padding: 10px 50px;
}
header nav a {
  position: relative;
  font-family: "DM Serif Display", serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #222627;
  transition: 0.2s ease-in-out;
}
header nav .nav_link .ext_link a i:hover {
  color: #BDA46D;
  transition: 0.2s ease;
}
header nav .nav_link .scroll_link a:hover, header nav .home_link h2 a:hover {
  color: #BDA46D;
  transition: 0.2s ease;
}
header nav .nav_link .scroll_link a::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0px;
  background-color: #BDA46D;
  transform-origin: bottom left;
  transition: 0.25s ease-out;
}
header nav .nav_link .scroll_link a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header nav .nav_link, header nav .home_link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav .nav_link {
  gap: 80px;
}
header nav .scroll_link, header nav .ext_link {
  display: flex;
  gap: 25px;
}
header nav .ext_link a i {
  color: #222627;
  transition: 0.2s ease;
}
header nav .home_link .logo {
  width: 40px;
}
header nav .home_link h2 a {
  font-style: italic;
}

.go_up_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  bottom: 2em;
  right: 2em;
  border-radius: 50%;
  background-color: #BDA46D;
  width: 60px;
  height: 60px;
  text-decoration: none;
  transition: 0.3s ease;
}
.go_up_button:hover {
  background-color: #222627;
  transition: 0.3s ease;
}
.go_up_button i {
  color: white;
  border-bottom: none;
}

.welcome_section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.welcome_section::before {
  content: "";
  background: url("../images/pathern_bg.jpg") no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 -25px 100px rgba(255, 255, 255, 0.8), inset 0 25px 100px rgba(255, 255, 255, 0.8);
}
.welcome_section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 25px;
  width: 75%;
  margin: 0 auto;
  height: 100vh;
}
.welcome_section > div img {
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(189, 164, 109, 0.3);
}
.welcome_section > div .welcome_text .name_title, .welcome_section > div .welcome_text .job_title {
  font-family: "DM Serif Display", serif;
}
.welcome_section > div .welcome_text .name_title {
  font-size: 80px;
  font-weight: bold;
  color: #BDA46D;
}
.welcome_section > div .welcome_text .job_title {
  font-size: 50px;
  color: #222627;
  margin-left: 100px;
}

.pres_section {
  position: relative;
  padding: 80px 0 0;
  width: 100%;
  height: 100vh;
}
.pres_section::before {
  content: "";
  background: url("../images/pathern_bg_reverse.jpg") no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 -25px 100px rgba(255, 255, 255, 0.8), inset 0 25px 100px rgba(255, 255, 255, 0.8);
}
.pres_section .pres_content {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 60px auto 30px;
}
.pres_section .pres_content .title {
  font-family: "DM Serif Display", serif;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.pres_section .pres_content .title h1 {
  font-size: 125px;
  opacity: 0.3;
  text-transform: uppercase;
}
.pres_section .pres_content .title h2 {
  font-size: 75px;
  text-transform: capitalize;
  color: #BDA46D;
  position: absolute;
  right: 200px;
  top: 75px;
}
.pres_section .pres_content .pres {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.pres_section .pres_content .pres img {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(134, 134, 134, 0.5);
}
.pres_section .pres_content .pres .text {
  font-family: serif;
  position: relative;
  padding-bottom: 100px;
}
.pres_section .pres_content .pres .text h3 {
  color: #BDA46D;
  font-size: 40px;
  margin-bottom: 30px;
}
.pres_section .pres_content .pres .text p {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: justify;
}
.pres_section .pres_content .pres .text p strong {
  color: #BDA46D;
}
.pres_section .pres_content .pres .text a {
  border-radius: 5px;
  background: #BDA46D;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 30px;
  margin-top: 50px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 10px 20px rgba(134, 134, 134, 0.5);
  transition: 0.3s ease;
}
.pres_section .pres_content .pres .text a:hover {
  background-color: #222627;
  transition: 0.3s ease;
}
.pres_section .pres_content .pres .text a strong {
  font-weight: bold;
}
.pres_section .pres_content .pres .text a i {
  margin-right: 15px;
}

.skills_section {
  position: relative;
  padding: 80px 0 0;
  width: 100%;
  height: 100vh;
}
.skills_section::before {
  content: "";
  background: url("../images/pathern_bg.jpg") no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 -25px 100px rgba(255, 255, 255, 0.8), inset 0 25px 100px rgba(255, 255, 255, 0.8);
}
.skills_section .skills_content {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 60px auto 30px;
}
.skills_section .skills_content .title {
  font-family: "DM Serif Display", serif;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.skills_section .skills_content .title h1 {
  font-size: 125px;
  opacity: 0.3;
  text-transform: uppercase;
}
.skills_section .skills_content .title h2 {
  font-size: 75px;
  text-transform: capitalize;
  color: #BDA46D;
  position: absolute;
  right: 200px;
  top: 75px;
}
.skills_section .skills_content .skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}
.skills_section .skills_content .skill .category {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 2px solid yellow;
  width: 30%;
}
.skills_section .skills_content .skill .category h3 {
  position: absolute;
  top: 50%;
  left: 25%;
  font-family: "DM Serif Display", serif;
  color: #BDA46D;
  font-size: 50px;
  transform: translate(-50%, -50%) rotate(-90deg);
  grid-area: "title";
}
.skills_section .skills_content .skill .front {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "title icon1" "title icon2" "title icon3";
  gap: 25px;
}
.skills_section .skills_content .skill .front .icon-grid1-1 {
  grid-area: icon1;
}
.skills_section .skills_content .skill .front .icon-grid1-2 {
  grid-area: icon2;
}
.skills_section .skills_content .skill .front .icon-grid1-3 {
  grid-area: icon3;
}
.skills_section .skills_content .skill .front .icon-grid1-1 {
  width: 60%;
}
.skills_section .skills_content .skill .front .icon-grid1-2 {
  width: 43%;
}
.skills_section .skills_content .skill .front .icon-grid1-3 {
  width: 110%;
}
.skills_section .skills_content .skill .back {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title icon1" "title icon2";
  gap: 25px;
}
.skills_section .skills_content .skill .back .icon-grid2-1 {
  grid-area: icon1;
}
.skills_section .skills_content .skill .back .icon-grid2-2 {
  grid-area: icon2;
}
.skills_section .skills_content .skill .back .icon-grid2-1 {
  width: 80%;
}
.skills_section .skills_content .skill .back .icon-grid2-2 {
  width: 80%;
}
.skills_section .skills_content .skill .design {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "title icon1" "title icon2" "title icon3" "title icon4";
  gap: 25px;
}
.skills_section .skills_content .skill .design .icon-grid3-1 {
  grid-area: icon1;
}
.skills_section .skills_content .skill .design .icon-grid3-2 {
  grid-area: icon2;
}
.skills_section .skills_content .skill .design .icon-grid3-3 {
  grid-area: icon3;
}
.skills_section .skills_content .skill .design .icon-grid3-4 {
  grid-area: icon4;
}
.skills_section .skills_content .skill .design .icon-grid3-1 {
  width: 50%;
}
.skills_section .skills_content .skill .design .icon-grid3-2 {
  width: 90%;
}
.skills_section .skills_content .skill .design .icon-grid3-3 {
  width: 50%;
}
.skills_section .skills_content .skill .design .icon-grid3-4 {
  width: 60%;
}

/*# sourceMappingURL=style.css.map */
